/*
*{
    
}

.section1{
    background-color: rgb(112, 112, 112);
}

.section2{
    background-color: aqua;
}




*/

*{
    margin:0 ;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(49, 48, 48, 0.411),rgba(44, 42, 42, 0.75)),url("../images/RMCFteam.jpg");
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 120px;
    cursor: pointer;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

/*below is changing the color of the top navigation bar*/
.navbar ul li a{ 
    text-decoration: none;
    color:#259daf;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#259daf;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;

}

.content p{
    margin: 20 px auto;
    font-weight: 100;
    line-height: 25px;
    color:#ffffff;
}

/*Section 2 - 5 League Logos*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .image-block {
    flex: 0 0 200px; /* Adjust the width as needed */
    margin: 10px;
    text-align: center;
  }
  
  .image-block img {
    max-width: 100%;
    height: auto;
  }
  
  .image-caption {
    margin-top: 5px;
    font-weight: bold;
  }